.list {
  list-style: none;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 563px;
  box-sizing: border-box;
  background-color: rgba(184, 222, 255, 0.349);
  border-radius: 30px;
}
